body {
  background-color: black;
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-board {
  background-color: lightgrey;
}

#score {
  color: yellow;
  padding-top: 10px;
  font-size: 200%;
}

#reset {
  color: yellow;
}